@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  background: #283c63;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 35px;
}
.nav-link {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #fbe8d3;
  margin: 0px 20px;
}
.jumbotron {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 35px;
}
.jumbo-head {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 85px;
  line-height: 110%;
  /* or 106px */

  /* Secondary */

  color: #fbe8d3;
}
.jumbo-para {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  /* Sub title */

  color: #928a97;
}
.jumbo-button {
  background: #ff7069;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  z-index: 99;

  /* Secondary */
  width: fit-content;
  color: #fbe8d3;
  border: none;
  outline: none;
  padding: 7px 20px;
  margin: 20px 0px;
}
.text-orange {
  color: #ff7069;
}
.boy-vr-image {
  position: absolute;
  height: 350px;
  width: 350px;
  bottom: 5px;
  right: 20px;
  z-index: -1;
}
